:root {
    --dark-color: #202020;
    --gray-color: #999999;
    --accent-color: #FF6E30;
    --gray-color-light: #CACACA;
    --light-color: #E9E9E9;
    --dark-color-85: rgba(32, 32, 32, 0.85);
    --gray-color-dark: #4A4A4A;
    --white-color: #fff;

    --primary-font: "Roboto", sans-serif;
    --secondary-font: "TT Firs Neue", sans-serif;

    --content-width: 1290px;
    --container-offset: 31px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}


@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.page {
    height: 100%;
    font-family: var(--primary-font);
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

.page__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100%;
    font-size: 16px;
    background-color: var(--white-color);
}

@media (max-width:600px) {
    .page__body {
        font-size: 14px;
    }
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
    height: 80px;
    background-color: #202020;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav_list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 79px;
    padding-left: 140px;
}

.nav__list_item {
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
}

.header__logo2 {
    margin-left: auto;
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
    width: var(--content-width);
}

.hero__container {
    padding-top: 41px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
}

.hero1 {
    width: 630px;
    height: 630px;
    object-fit: cover;
    object-position: center;

}

.hero1-text1 {
    position: absolute;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 22px 30px 592px 506px;
    margin: 0;
}

.hero1-text2 {
    position: absolute;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 405px 339px 206px 58px;
}

.hero1-text3 {
    position: absolute;
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    padding: 437px 145px 30px 58px;
    margin: 0;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button_primary {
    position: absolute;
    background-color: var(--accent-color);
    border: solid 3px var(--accent-color);

    color: var(--white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 22px;
    margin: 517px 409px 27px 58px;
}

.button_primary:hover {
    background-color: #BC572B;
    border-color: #BC572B;
}

.button_primary:focus {
    outline: none;
    border-color: #CE4307;
    background-color: var(--accent-color);
}

.button_primary:active {
    border-color: #CE4307;
    background-color: #CE4307;
}

.hero2-text1 {
    color: var(--dark-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    width: 630px;
    margin: 0;
    padding-bottom: 18px;
}

.hero2 {
    width: 630px;
    height: 300px;
    object-fit: cover;
    object-position: center;

}

.hero3 {
    width: 300px;
    height: 257px;
    object-fit: cover;
    object-position: center;
    margin-top: 25px;
    margin-right: 26px;
}

.hero4 {
    width: 300px;
    height: 257px;
    object-fit: cover;
    object-position: center;
}

.about__container {
    background-color: var(--dark-color);
    margin-top: 68px;
    padding-top: 30px;
}

.containers {
    margin: 0 auto;
    max-width: var(--container-width);
    width: var(--content-width);
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.about__container1 {
    width: 630px;
    height: 364px;
    margin: 0;
}

.about-text1 {
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.about-text2 {
    color: var(--gray-color-light);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 28px;
    /* 175% */
    margin: 0;
    padding-top: 5px;
}

.about__container2 {
    width: 630px;
    height: 500px;
}

.about-img1 {
    margin-top: 38px;
    width: 630px;
    height: 255px;
    object-fit: cover;
    object-position: center;
}

.about-text3 {
    padding-top: 23px;
    padding-bottom: 16px;
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.about-btn {
    width: 630px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.button-email {
    background-color: var(--gray-color-dark);
    display: flex;
    width: 474px;
    height: 50px;
    padding: 15px 23px;
    align-items: flex-start;
    gap: 10px;
}

.email-text {
    color: var(--gray-color-light);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button__about {
    width: 126px;
    height: 50px;
    display: inline-flex;
    padding: 15px 22px;
    gap: 10px;
    background-color: var(--accent-color);
    border: var(--accent-color)
}

.button-text {
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
}

.project__container {
    color: var(--white-color);
    margin-top: 68px;
}

.project_text1 {
    color: var(--dark-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.project_cards {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
}

.text-position1 {
    margin: 7px 7px 0 97px;
}

.text-position2 {
    margin: 7px 7px 0 93px;
}

.text-position3 {
    margin: 7px 7px 0 90px;
}

.text-position4 {
    margin: 7px 7px 0 537px;
}

.text-position5 {
    margin: 7px 7px 0 449px;
}

.card-text2 {
    position: absolute;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--dark-color);
    padding: 6px 14px;
    align-items: center;
    gap: 30px;
}

.card-text3 {
    width: 190px;
    height: 63px;
    color: var(--dark-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.card-calendar {
    color: var(--gray-color);
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 183.333% */
}

.card-img {
    object-fit: cover;
}

.card4-text {
    padding-top: 2px;
    margin: 0;
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 100% */
}

.par-text {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 54px;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.par2-text {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 101px;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.card-inside {
    margin-left: 30px;
    position: absolute;
}

.calendar {
    margin-top: 26px;
}

.card4-btn {
    display: inline-flex;
    height: 50px;
    padding: 15px 22px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 3px solid var(--accent-color);
    cursor: pointer;

    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
}

.cards5-7 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 30px;
}

.card6-text1 {
    position: absolute;
    color: var(--white-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 6px 14px;
}

.text-position6 {
    margin: 7px 7px 149px 208px;
}

.card6-text2 {
    width: 298px;
    height: 66px;
    color: var(--dark-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}


.card7-text1 {
    position: absolute;
    color: var(--white-color);
    background-color: var(--dark-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 6px 14px;
}

.text-position7 {
    margin: 7px 7px 149px 204px;
}

.contact-card2 {
    position: relative;
    top: -465px;
    width: 410px;
    height: 460px;
    flex-shrink: 0;
    background-color: var(--dark-color-85);
}

.card-svg {
    padding: 20px 20px 135px 370px;
}

.texts {
    padding-left: 60px;
}

.contact-text1 {
    margin: 0;
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 91.667% */
}

.contact-text2 {
    margin: 0;
    width: 300px;
    color: var(--gray-color-light);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.contact-number {
    margin: 0;
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-card3 {
    width: 410px;
    height: 467px;
}

.card3-txt1 {
    margin: 0;
    color: var(--dark-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 91.667% */
}

.card3-txt2 {
    color: var(--gray-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    margin-bottom: 14px;
}

.btn-email {
    background: var(--light-color);
    border: var(--light-color);
    display: flex;
    width: 410px;
    height: 50px;
    padding: 15px 23px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.email-txt {
    color: var(--gray-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.btn-comment {
    background: var(--light-color);
    border: var(--light-color);
    display: flex;
    width: 410px;
    height: 150px;
    padding: 15px 23px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.footer__container {
    width: 1920px;
    height: 106px;
    flex-shrink: 0;
    background: var(--dark-color);
    margin-top: 69px;
}

.footer__containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_container1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 26px;
}

.footer-txt1 {
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_container2 {
    padding-top: 24px;
}

.footer-txt2 {
    color: var(--gray-color-light);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.footer_container3 {
    display: flex;
    flex-direction: column;
    padding-top: 26px;
}

.footer_container3-svg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 8px;
}